




<div class = "button">

<button class="btn btn-primary btn-large"type="button" name="button">Click here</button>

</div>
<p>
<strong> All movies with Leonardo DiCaprio</strong>
</p>
<div class=" leo-movies">

</div>
<p>
<strong> All movies with budget equal to 55k </strong>
</p>
<div class= "low-budget">

</div>
